*{

margin: 0;
padding: 0;

box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body{


min-height: 100vh;

background: url(gatofondoqwe.jpg);
display: flex;
justify-content: center;
align-items: center;

}




table{

width: 100%;

}
table, th, td{
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

main.table{

    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
    
}

.table__header{

    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
}

.table__body{

width: 95%;
max-height: calc(89% - .8rem);
background-color: #fffb;

margin: .8rem auto;
border-radius: .6rem;

overflow: auto;
}

.table__body::-webkit-scrollbar{

    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{

    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{

visibility: visible;
}

thead th{


    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}



tbody tr:nth-child(even){


    background-color: #00000b15;
}

tbody tr:hover{

    background-color: #fff6;
}

@media (max-width: 1000px){

   td:not(:first-of-type){

    min-width: 12.1rem;
   }

}


input{


    text-align: left;
}

a{

    text-decoration: none;

    
}

a:hover{

    color: #008500;
}

form input[type="submit"]:active{

    opacity: 0.8;
}







